#footer {
    width: 100vw;
    background-color: #F8F9FA;
    padding: 20px;
    color: gray;
}

p {
    font-weight: 100;
}

.footer-links {
    display: flex;
}

.footer-links img {
    width: 30px;
    height: 30px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}