#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px;
}

.summary-info {
    display: flex;
    align-items: center;
}

.sum-links {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.sum-links ul li {
    list-style: none;
    padding: 8px;
}

.sum-links img {
    width: 25px;
    height: 25px;
}

.scroll-btn {
    margin-top: 50px;
}

.contact-btn {
    margin: 40px 0;
}

@media only screen and (max-width: 630px) {
    #summary {
        margin-top: 0;
    }

    .summary-info {
        flex-direction: column;
        text-align: center;
    }

    .sum-links {
        margin: 0;
    }

    .sum-links ul {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .sum-links ul li {
        padding: 0 15px;
    }

    .scroll-btn {
        margin-top: 20px;
    }

    .contact-btn {
        margin: 20px 0;
    }
}