#contact {
    margin-bottom: 100px;

}

.contacts {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    
}

.contacts div {
    margin: 20px 50px 50px;
}

@media only screen and (max-width: 659px) {
    .contacts div {
        margin: 10px 20px;
        text-align: center;
    }
}
